body {
    background-color: #f5f7fa;
}

.sidebar {
    width: 230px;
    background-color: #04243c;
    min-height: 100vh;
}

.sidebar .nav-link {
    color: #c9d6e3;
    font-size: 15px;
}

.sidebar .nav-link.active {
    background-color: #0d6efd;
    color: #fff;
    border-radius: 6px;
}

.topbar {
    height: 70px;
    background: #fff;
}

.card-class {
    border-radius: 15px;
    padding: 15px;
}

.card-class:hover{
    cursor: pointer;
}

.avatar-icon {
    font-size: 32px;
    background: #e8f1ff;
    padding: 12px;
    border-radius: 50%;
    color: #0d6efd;
}
